#app {
  margin: 0px auto;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#app .max-width {
  height: 100%;
  max-width: 1200px;
  margin: 0px auto;
  flex-grow: 1;
}

#header {
  height: 80px;
  background: #000000;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}

#header .max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .logo
{
  width: 160px;
  height: 50px;
}

#header .logo a
{
  width: 160px;
  height: 50px;
  display: block;
  background-image: url(/img/NXSwap-Logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#header nav
{
  height: 50px;
  display: flex;
  align-items: center;
}

#header nav a
{
  color: #5a5a5a;
  text-decoration: none;
  padding: 11px 18px;
  margin-left: 24px;
  display: block;
  line-height: 1;
}
 
#header nav a:hover
{
  opacity: 0.7;
}

#header nav a.featured
{
  border-radius: 4px;
  background: #1470f2;
  color: white;
}

#header nav a.twitter
{
  width: 26px;
  height: 26px;
  background-image: url(/img/twitter.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  padding: 0px;
  margin-left: 34px;
  opacity: 0.5;
}

#header nav a.twitter:hover {
  opacity: 1;
}

#header nav a.disabled {
  opacity: 0.4;
}

#content
{
  flex-grow: 1;
  height: calc(100% - 162px); /* - Header & Footer height */
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer
{
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #38393a;
}

#footer .max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer a
{
  color: white;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.4;
}

#footer a:hover
{
  opacity: 0.7;
}

#footer span
{
  opacity: 0.3;
  padding: 0px 20px;
}

.singlecolumn {
  flex-grow: 1;
  max-width: 1200px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.singlecolumn h1,
.singlecolumn h2 {
  display: block;
  text-transform: lowercase;
}

.singlecolumn h1 {
  font-size: 28px;
  padding-bottom: 12px;
}

.singlecolumn h2 {
  font-size: 18px;
  opacity: 0.7;
}

.singlecolumn h2 a {
  color: white;
  opacity: 0.5;
  font-style: italic;
  text-decoration: none;
}

.splitcolumn
{
  flex-grow: 1;
  max-width: 1200px;
  display: flex;
  align-items: center;
  height: 100%;
}

.splitcolumn .divider {
  content: ' ';
  width: 2px;
  background: #3c3c3c;
  height: 100%;
  margin: 0px 100px;
}

.splitcolumn .blurb,
.splitcolumn .formc,
.splitcolumn .column
{
  flex-grow: 1;
  flex-basis: 0;
}

.splitcolumn .column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splitcolumn .blurb
{
  display: flex;
  align-items: center;
}

.splitcolumn .blurby
{
  max-width: 500px;
  line-height: 30px;
}
.splitcolumn .blurb h1,
.splitcolumn .blurb h2,
.splitcolumn .blurb h3,
.splitcolumn .blurb h4
{
  display: block;
  font-weight: 400;
  padding-bottom: 8px;
}

.splitcolumn .blurb h1
{
  font-size: 26px;
}

.splitcolumn .blurb h2
{
  font-size: 22px;
}

.splitcolumn .blurb h3
{
  font-size: 18px;
}

.splitcolumn .blurb h4
{
  font-size: 16px;
}

.splitcolumn .supported-icons
{
  padding: 36px 0px;
}

.splitcolumn .supported-icons img
{
  width: 30px;
  height: 30px;
  margin-right: 12px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
  border-radius: 99em;
}

.splitcolumn .formc
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.splitcolumn .formb
{
  background: white;
  border-radius: 6px;
  color: #666;
  width: 420px;
}

.splitcolumn .formw
{
  background: white;
  border-radius: 6px;
  color: #666;
  flex-grow: 1;
}

.splitcolumn .formi
{
  padding: 24px;
}

.splitcolumn .formb #swap_form_currency_selector
{
  display: none;
  padding: 24px;
}

.splitcolumn .formb .formi .label
{
  display: block;
  padding: 0px 1px;
  font-size: 14px;
}

.splitcolumn .formb .formi .currency_select
{
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px 16px;
  margin: 12px 0px 24px 0px;
}

.splitcolumn .formb .formi .currency_select:hover
{
  cursor: pointer;
  border: 1px solid #aaa;
}

.splitcolumn .formb .formi .currency_select img
{
  width: 26px;
  height: 26px;
  vertical-align: middle;
  margin-top: -2px;
}

.splitcolumn .formb .formi .currency_select span
{
  margin-left: 14px;
  font-size: 18px;
  line-height: 26px;
}

.splitcolumn .formb .formi .currency_select i
{
  width: 10px;
  height: 26px;
  background-image: url(/img/chevron-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  float: right;
}

.splitcolumn .formb .formi button.submit
{
  border-radius: 3px;
  background: green;
  padding: 24px 12px;
  text-align: center;
  display: block;
  width: 100%;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.splitcolumn .formb .formi button.submit.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.trackswap
{
  flex-grow: 1;
  height: 400px;
  max-width: 1000px;
  background: white;
  border-radius: 6px;
}

.trackswap .trackheader
{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #bdbcbc;
  display: flex;
  justify-content: space-between;
}

.trackswap .trackheader ul.trackprogress {
  list-style: none;
  overflow: hidden;
}

.trackswap .trackheader ul.trackprogress li {
  float: left;
}

.trackswap .trackheader ul.trackprogress li span {
  color: white;
  text-decoration: none; 
  padding: 20px 36px 20px 44px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative; 
  display: block;
  float: left;
  opacity: 0.7;
}

.trackswap .trackheader ul.trackprogress li:first-child span{
  padding-left: 28px;
}

.trackswap .trackheader ul.trackprogress li.active {
  background: #636161;
  opacity: 1;
}

.trackswap .trackheader ul.trackprogress li.active span {
  opacity: 1;
}

.trackswap .trackheader ul.trackprogress li.completed {
  background: #636161;
  opacity: 1;
}

.trackswap .trackheader ul.trackprogress li.completed span {
  opacity: 0.3;
}


.trackswap .trackheader ul.trackprogress li span::after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
}

.trackswap .trackheader ul.trackprogress li.active span::after {
  border-left: 30px solid #636161;
}

.trackswap .trackheader ul.trackprogress li.completed span::after {
  opacity: 0.5;
}


.trackswap .trackheader ul.trackprogress li span::before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;       
  border-bottom: 50px solid transparent;
  border-left: 30px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}

.trackswap .trackheader ul.trackprogress li.active span::before {
  border-left: 30px solid #636161;
}

.trackswap .trackheader ul.trackprogress li.completed span::before {
  opacity: 0.5;
}

/** Home Page **/

.swapstartform {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.swapstartform .depositCurrency,
.swapstartform .receiveCurrency {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swapstartform .depositCurrency img,
.swapstartform .receiveCurrency img {
  width: 130px;
  height: 130px;
  display: block;
  cursor: pointer;
}


.swapstartform .depositCurrency small,
.swapstartform .receiveCurrency small {
  padding: 20px 10px 20px 10px;
}

.swapstartform .depositCurrency small span,
.swapstartform .receiveCurrency small span {
  opacity: 0.6;
  display: block;
  padding-bottom: 4px;
  font-size: 13px;
}

.swapstartform .depositCurrency small strong,
.swapstartform .receiveCurrency small strong {
  font-weight: 500;
  font-size: 18px;
}

.swapstartform .depositCurrency input[type=text],
.swapstartform .receiveCurrency input[type=text] {
  background: #20355a;
  border: 1px solid #061227;
  padding: 14px 18px;
  width: 160px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.swapstartform .depositCurrency input[type=text]::placeholder,
.swapstartform .receiveCurrency input[type=text]::placeholder {
  color: white;
}

.swapstartform .arrow {
  width: 180px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swapstartform .arrow img {
  width: 80px;
  opacity: 0.3;
}

.swapstartformsubmit {
  margin-top: 30px;
}

.swapstartformsubmit button {
  background: #249b50;
  color: white;
  border: 0px;
  border-radius: 50px;
  padding: 16px 22px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

/* Misc.. */

.form_loading {
  pointer-events: none;
  opacity: 0.6;
}

.form_hidden,
.hidden {
  display: none;
}