.singlecolumn .column .cont {
  max-width: 380px;
}

.wallet-unlock .encryptionPassphrase {
  margin: 20px 0px 20px 0px;
  position: relative;
}

.wallet-unlock .encryptionPassphrase input {
  background-color: black;
  border: 1px solid #979797;
  padding: 18px 20px;
  font-size: 14px;
  color: white;
  width: 100%;
  display: block;
  max-width: calc(100% - 42px); /* - horizontal padding + border */
  outline: none;
}

.wallet-unlock .encryptionPassphrase .showhide {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  padding: 3px 4px;
  margin: 17px 12px 0px 0px;
  cursor: pointer;
}

.wallet-unlock button.unlock,
.wallet-lock button.action,
.wallet-forget button.action {
  width: 100%;
  display: block;
  padding: 18px 12px;
  text-align: center;
  font-size: 16px;
  background-color: #1f6cf7;
  border: 1px solid #1f6cf7;
  color: white;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.wallet-lock .actionButton,
.wallet-forget .actionButton {
  margin: 30px 0px 20px 0px;
}
.wallet-unlock button.unlock:disabled,
.wallet-lock button.action:disabled,
.wallet-forget button.action:disabled {
  background: #6d6d6d;
  border: 1px solid #6d6d6d;
  color: #525252;
  cursor: not-allowed;
}

.wallet-unlock .manually,
.wallet-lock .otheraction, 
.wallet-forget .otheraction {
  font-size: 13px;
  display: block;
  margin-top: 10px;
  padding: 4px 0px;
  text-align: center;
  opacity: 0.4;
  cursor: pointer;
  text-decoration: none;
  color: white
}